// Create grayscale
$gray1:             #e8e8e8;
$gray2:             #ededed;
$gray3:             #070c0c;
$gray4:             #f4f4f4;
$gray5:             #919191;
$gray6:             #555555;
$gray7:             #efefef;
$gray8:             #181c1c;

// Reassign color vars to semantic color scheme
$brand-primary:             #16aeca;
$brand-primary1:            #85ecff;
$brand-secondary:           #decf1d;