// Create grayscale
$gray1:             #e8e8e8;
$gray2:             #ededed;
$gray3:             #070c0c;
$gray4:             #f4f4f4;
$gray5:             #919191;


// Reassign color vars to semantic color scheme
$brand-primary:             #16aeca;
$brand-secondary:           #decf1d;